/* Orange Skin */

/* Link Hover */
a:hover {
	color: #f5a534;
}
#breadcrumb a:hover {
	color: #f5a534;
}

/* Widget Title */
.widgettitle {
	color: #7a7a7a;
}

/* Category Product Price Tag */
#content ul.products li .price:after {
	border-color: #dd8302 transparent transparent #dd8302;
}
.es-carousel-wrapper .slide-title:after {
	border-color: #dd8302 #dd8302 transparent transparent;
}
.es-carousel-wrapper .slide-title, #content ul.products li .price {
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fabe6a', endColorstr='#f5a534');
	background: -webkit-gradient(linear, left top, left bottom, from(#fabe6a), to(#f5a534));
	background: -moz-linear-gradient(top,  #fabe6a,  #f5a534);
	text-shadow: #e99823 1px 1px 0;
}

#content ul.products li .price ins {
	color: #ffffff;

}

/* Product Price Tag */
div.product p.price:before {
	border-color: transparent transparent transparent #f5a534;
}
div.product p.price {
	color: #ffffff;
	background-color: #f5a534;
	text-shadow: #e99823 1px 1px 0;
}

div.product p.price .amount {
	color: #fbfdfd;
}

.woocommerce .quantity .plus,.woocommerce-page .quantity .plus,.woocommerce #content .quantity .plus,.woocommerce-page #content .quantity .plus,.woocommerce .quantity .minus,.woocommerce-page .quantity .minus,.woocommerce #content .quantity .minus,.woocommerce-page #content .quantity .minus {
	border: 1px solid #fabe6a;
	background: #dfdfdf;
	background: -webkit-gradient(linear,left top,left bottom,from(#fabe6a),to(#f5a534));
	background: -webkit-linear-gradient(#fabe6a,#f5a534);
	background: -moz-linear-gradient(center top,#fabe6a 0%,#f5a534 100%);
	background: -moz-gradient(center top,#fabe6a 0%,#f5a534 100%);
}
.woocommerce #content .quantity .plus:hover, .woocommerce #content .quantity .minus:hover {
	background: #f5a534;

}
.woocommerce a.button.alt:hover,.woocommerce-page a.button.alt:hover,.woocommerce button.button.alt:hover,.woocommerce-page button.button.alt:hover,.woocommerce input.button.alt:hover,.woocommerce-page input.button.alt:hover,.woocommerce #respond input#submit.alt:hover,.woocommerce-page #respond input#submit.alt:hover,.woocommerce #content input.button.alt:hover,.woocommerce-page #content input.button.alt:hover {
	background-color: #dd8302 !important;
}



.woocommerce a.button.alt,.woocommerce-page a.button.alt,.woocommerce button.button.alt,.woocommerce-page button.button.alt,.woocommerce input.button.alt,.woocommerce-page input.button.alt,.woocommerce #respond input#submit.alt,.woocommerce-page #respond input#submit.alt,.woocommerce #content input.button.alt,.woocommerce-page #content input.button.alt {
	background-color: #f5a534 !important;
}
/* Product Category Tags */

.single-product .summary .product_meta a {
	color: #fabe6a;
}

/* Product Description */

div.product .product_title {
	color: #595959;
}
.single-product .woocommerce_tabs .panel h2:first-child,
.single-product .woocommerce_tabs .panel #reviews h2 {
	color: #7a7a7a;
}

/* Buttons */

table.shop_table .checkout-button.button, #place_order.button   {
	background-color: #fabe6a;

}
table.shop_table .checkout-button.button:hover, #place_order.button:hover  {
background-color: #f5a534;

}

/* Dropcaps */

.square-dropcap, .round-dropcap,.blog .date small {

filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fabe6a', endColorstr='#f5a534');
	background: -webkit-gradient(linear, left top, left bottom, from(#fabe6a), to(#f5a534));
	background: -moz-linear-gradient(top,  #fabe6a,  #f5a534);
	color: #fff;
	text-shadow: #e99823 1px 1px 0;

}
